#header-resiences{
    text-align: center;
}


.Rohan{
    /* margin: 5px; */
    /* border: 1px solid #ccc; */
    /* float: left; */
    height: 10px;
    width: 20px;
    position: absolute;
    margin: auto;
    padding: 10px;
}